.card {
    background-color: var(--card);
    color: var(--card-foreground);
    border-radius: var(--radius);
    padding: 12px var(--content-px);
    transition: all 0.2s ease-in-out;
}

.card:hover, .card:focus {
    background-color: hsl(var(--text-2) / 70%);
}

.card:hover .card-hover-show {
  opacity: 100%;
}
