#panel {
    width: 400px;
}

.side-toggle-hover {
    transform: translateX(100%);
    opacity: 0;
    z-index: 40;
    transition: all 0.2s ease-out;
}

#panel.open {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.side-toggle-hover.open {
    opacity: 1;
    transform: translateX(0);
}

.side-toggle-main-window {
    transition: all 0.2s ease-out;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.side-toggle-main-window.side-open {
    right: 400px;
}


#panel .con-list {
    overflow-y: auto;
}

#panel .con-list::-webkit-scrollbar {
    width: 6px;
}

#panel .con-list::-webkit-scrollbar-thumb {
    visibility: hidden;
}

#panel:hover .con-list::-webkit-scrollbar-thumb {
    visibility: visible;
}
