.pill-group {
  display: flex;
  padding: 4px;
  width: fit-content;
  height: fit-content;
  background: hsl(var(--muted));

  @apply rounded-lg;
}

.pill {
  padding: 6px 14px;
  font-size: 14px;
  transition: all 0.2s ease-out;

  @apply rounded-lg text-muted-foreground;
}

.pill.active {
  background: hsl(var(--background));
  @apply text-foreground;
}
