.search-prompt [cmdk-item] {
  border-radius: var(--radius);
}

.search-prompt [cmdk-list] {
  padding-left: 8px;
  padding-right: 8px;
  margin: 0px;
}

.search-prompt [cmdk-group-heading] {
  margin-left: 16px;
}

.search-prompt [cmdk-group] {
  padding-left: 0px;
  padding-right: 0px;
}

.search-prompt {
  top: 0px;
  --open-y-offset: 20vh;
  --closed-y-offset: 22vh;
  --open-scale: 1;
  --closed-scale: 0.9;
  --duration: 150ms;
}

.search-prompt[data-state="open"] {
  animation: sp-enter var(--duration) linear forwards !important;
}

.search-prompt[data-state="closed"] {
  animation: sp-leave var(--duration) linear forwards !important;
}

@keyframes sp-enter {
  0% {
    opacity: 0;
    transform: translateY(var(--closed-y-offset)) translateX(-50%)
      scale(var(--closed-scale));
  }
  100% {
    opacity: 1;
    transform: translateY(var(--open-y-offset)) translateX(-50%)
      scale(var(--open-scale));
  }
}

@keyframes sp-leave {
  0% {
    opacity: 1;
    transform: translateY(var(--open-y-offset)) translateX(-50%)
      scale(var(--open-scale));
  }
  100% {
    opacity: 0;
    transform: translateY(var(--closed-y-offset)) translateX(-50%)
      scale(var(--closed-scale));
  }
}
