.icon-container {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  user-select: none;
}

.icon-container:hover {
  background-color: hsl(var(--text) / 10%);
}

.icon-container-md {
  width: 40px;
  height: 40px;
}

.icon-container-md svg {
  width: 20px;
  height: 20px;
}

.icon-container-sm {
  width: 32px;
  height: 32px;
}

.icon-container-sm svg {
  width: 16px;
  height: 16px;
}

.icon-container-lg {
  width: 48px;
  height: 48px;
}

.icon-container-lg svg {
  width: 24px;
  height: 24px;
}

.icon-md {
  width: 20px;
  height: 20px;
}

.icon-sm {
  width: 20px;
  height: 20px;
}

.spinning {
  animation: spinning 2s linear infinite;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-dropdown-menu-item {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}
